.CarWidget {
    position: relative;
    margin: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car {
    font-size: 2.5rem;
    color: #b82f2e; 
    margin: 0;
    line-height: 1; /* Asegura que el icono esté centrado verticalmente */
}

.not {
    position: absolute; /* Cambio a absolute para posicionar relativo a .CarWidget */
    background-color: red;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    top: 5px; /* Ajusta según sea necesario para centrar la notificación */
    right: 10px; /* Asegura que la notificación esté posicionada correctamente */
    margin: 0;
}

@media (max-width: 431px) {
    .car {
        font-size: 2rem;
        padding-top: 0.2rem;
    }
    
    .not {
        top: 11rem; /* Ajusta según sea necesario para centrar la notificación en pantallas pequeñas */
        right: 23rem; /* Ajusta según sea necesario para centrar la notificación en pantallas pequeñas */
    }
}

@media (min-width: 1200px) {
    .car {
        margin-top: 0; /* Elimina margin-top para asegurar centrado vertical */
    }
}